[submodule "libh2jazzy"]
	path = libh2jazzy
	url = https://github.com/lambda-music/libh2jazzy.git
	branch = master
[submodule "libinst"]
	path = libinst
	url = https://github.com/lambda-music/libinst.git
	branch = master
